.eso-box {
    border-radius: 4px;
    background-color: white;
    @include default-box-shadow;
    padding: 20px;

    h1 {
        padding-top: 0;
        margin-bottom: 1rem;
    }

    &.inline {
        height: 100%;
    }

    &__rows {
        line-height: 2;
    }

    &__row {
        border-top: 2px solid rgba(0,0,0,.1);
        padding: .5rem 0;

        .eso-box__row-title {
            display: inline-block;
        }
    }

    &__row-actions {
        display: inline-block;
        float: right;
    }

    &__title {
        margin-bottom: 1rem;
        position: relative;

        h3 {
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 4px;
        }
    }

    &__heading {
        font-size: 1rem;
        display: inline-block;
        vertical-align: bottom;
    }

    &__subheading {
        display: block;
        margin-left: 29px !important;
        font-size: .9rem;
    }

    &__action {
        position: absolute;
        right: 7px;
        top: 0;
    }

    &__icon {
        display: inline-block;
        vertical-align: top;

        svg {
            height: 19px;
            width: 19px;
        }
    }

    &__label {
        font-weight: 700;
    }

    &__value {
        display: block;
    }

    &.eso-box--shipping-zone {
        .eso-box__icon {
            opacity: .5;
            transition: .3s all;

            &:hover {
                opacity: 1;
            }
        }
    }
}