.btn {
    transition: .3s all;

    .spinner-border {
        position: relative;
        bottom: 1px;
        right: 3px;
    }

    &.btn-lg {
        padding: 10px 25px;
        .spinner-border {
            right: 7px;
        }
    }

    &.btn-sm {
        font-size: 13px;
        padding: 5px 25px;
    }

    &.focus, &:focus {
        box-shadow: unset !important;
        &:not(.btn-text) {
            color: white !important;
        }
    }

    &.btn-light {
        &.focus, &:focus {
            &:not(.btn-text) {
                color: $text !important;
            }
        }
    }
}

.eso-icon {
    display: inline-block;
    margin-right: 5px;
}

.btn-primary {
    @include primary-gradient;
    border-radius: 150px;
    font-size: 14px;
    font-weight: bold;
    border: unset !important;

    &:hover, &:focus, &:active {
        @include primary-gradient-hover;
        color: white;
    }

    &:disabled {
        &.btn-link {
            background-color: transparent;
        }
    }

    .eso-icon {
        svg {
            fill: white;
        }
    }
}

.btn-secondary {
    @include secondary-gradient;
    border-radius: 150px;
    font-size: 14px;
    font-weight: bold;
    border: unset !important;
    color: white;

    &:hover, &:focus, &:active, &:disabled {
        color: white;
        @include secondary-gradient-hover;
    }
}

.btn-outline-secondary {
    &:hover, &:focus, &:active, &:disabled {
        color: white;
    }
}

.btn-danger {
    @include danger-gradient;
    border-radius: 150px;
    font-size: 14px;
    font-weight: bold;
    border: unset !important;

    &:hover, &:focus, &:active {
        @include danger-gradient-hover;
    }

    &.btn-sm {
        font-size: 13px;
    }

    &.focus, &:focus {
        box-shadow: unset !important;
    }
}

.btn-light {
    background: rgba(68, 133, 225, .1);
    border-color: transparent;

    &:hover {
        background: rgba(68, 133, 225, .2);
        border-color: transparent;
    }
}

.btn-link {
    background: none;
    text-decoration: underline;
    color: $primary;

    &:hover, &:focus, &:active {
        color: $primary;
        background: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    &:not(:disabled):not(.disabled) {
        &:active, &:focus {
            color: $primary;
            background: none;
            box-shadow: none;
        }
    }

    &.text-success {
        text-decoration: none;
        background: rgba(68, 133, 225, .1);

        &:hover, &:focus, &:active {
            background: rgba(68, 133, 225, .1) !important;
        }
    }

    &.dynamic-edit {
        padding-top: 0;
        padding-right: 0;
        text-decoration: none;
    }

    &.btn-plus {
        color: $primary;
        text-decoration: none;
        padding-left: 30px;

        &:before {
            left: 4px;
            background: {
                image: url(../../../assets/img/icons/add-button-inside-blue-circle.svg);
            }
        }

        &:active {
            background: none;
        }

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }

    &.btn-minus {
        color: $danger;
        text-decoration: none;
        padding-left: 30px;

        &:before {
            left: 4px;
            background: {
                image: url(../../../assets/img/icons/minus-inside-red-circle.svg);
            }
        }

        &:hover {
            color: $danger;
            text-decoration: underline;
        }
    }

    &.btn-sm {
        padding: 5px 10px;
        font-weight: bold;
        letter-spacing: 0.03em;
    }
}

.btn-plus {
    position: relative;
    padding-left: 3rem;
    &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 18px;
        top: 20%;

        background: {
            image: url(../../../assets/img/icons/add-button-inside-white-circle.svg);
            size: contain;
            repeat: no-repeat;
            position: 0 10%;
        }
    }

    &.btn-lg {
        padding-left: 3rem;

        &:before {
            top: 10px;
        }
    }

    &.btn-light {
        &:before {
            background: {
                image: url(../../../assets/img/icons/add-button-inside-blue-circle.svg);
            }
        }
    }
}

.btn-minus {
    position: relative;
    padding-left: 3rem;
    &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 18px;
        top: 20%;

        background: {
            image: url(../../../assets/img/icons/minus-inside-white-circle.svg);
            size: contain;
            repeat: no-repeat;
            position: 0 10%;
        }
    }

    &.btn-lg {
        padding-left: 3rem;

        &:before {
            top: 10px;
        }
    }
}

.btn-xls {
    &.btn-lg {
        padding-left: 45px;
    }
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 25px;
        height: 20px;
        left: 14px;
        top: 11px;
        background: {
            image: url(../../../assets/img/icons/excel-white.svg);
            size: contain;
            repeat: no-repeat;
        }
    }
}

.btn-back {
    position: relative;
    padding-left: 30px;
    &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 15px;
        left: 14px;
        top: 9px;

        background: {
            image: url(../../../assets/img/icons/back-white.svg);
            size: contain;
            repeat: no-repeat;
        }
    }

    &.btn-lg {
        padding-left: 3rem;
        &:before {
            width: 20px;
            height: 20px;
            left: 22px;
            top: 10px;

            background: {

            }
        }
    }
}

.btn-gallery-trigger {
    width: 90px;
    height: 90px;
    cursor: pointer;
    display: inline-block;
    position: relative;

    &:hover {
        .eso-icon {
            transition: .3s all;
            opacity: .5;
        }
    }

    .eso-icon {
        width: 90px;
        height: 90px;
        opacity: .3;

        svg {
            width: 90px;
            height: 90px;
        }
    }
}

.btn-text {
    letter-spacing: 0.03em;
    border-radius: 0;

    &:hover {
        text-decoration: underline;
    }
}

.eso-add {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 1;
    background: {
        image: url(../../../assets/img/icons/add-button-inside-green-circle.svg);
        repeat: no-repeat;
        size: contain;
    }
}

div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit] {
    background-color: #eee; /* Grey background */
    border: 1px solid #ddd; /* Dark grey border */
    color: #333; /* Black text color */
    font-size: 1em; /* Size of text */
    padding: 10px 15px; /* Distance between text and border */
}

/* internal wordpress forms (buttons) styling */

