.card-btn {
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    text-align: left;

    .spinner-border {
        position: absolute;
        left: 10px;
        top: 40%;
    }

    .card-title {
        margin-bottom: .45rem;
    }
}

.card-btn-primary {
    &:hover {
        color: white;
        @include primary-gradient-hover;

        h3 {
            color: white;
        }
    }

    &:focus, &:active {

    }
}

.eso-card {
    background: white;
    border-radius: $radius;
    padding: .8rem .9rem;
    margin-bottom: .7rem;

    &[data-toggle="collapse"] {
        cursor: pointer;
    }

    &__image {
        margin-right: 10px;
        display: inline-block;
        height: 29px;

        img {
            max-width: 100px;
        }
    }

    &__label {
        font-weight: bold;
        font-size: .9rem;
        max-width: 100%;
        width: 250px;
    }

    &__left {
        max-width: 100%;
        width: 400px;
    }

    &__trigger {
        opacity: .8;
    }

    &__settings {
        margin-top: -17px;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .inline-card-wrapper{
        display: flex;
    }
}