.index-filter {
    background: white;
    padding: 10px 20px;
    margin: 1rem 0 1rem;
    border-radius: 5px;
    //justify-content: space-between;

    .eso-box__label {
        margin-right: 10px;
    }

    .form-group {
        margin: 10px 15px 10px 0;
    }

    button[type="submit"] {
        .eso-icon {
            svg, path {
                fill: white;
            }
        }
    }
}

.form-control--digit {
    width: 5em !important;
}

.form-control--short {
    width: 9em !important;
}

.form-dynamic {
    .form-control {
        padding: .175rem .55rem;
        height: calc(1.75rem + 2px);
    }

    input.readonly, input[readonly], textarea.readonly, textarea[readonly] {
        background-color: transparent !important;
        border: unset !important;
        box-shadow: unset !important;
    }
}

.form-group {
    &--date {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            right: 13px;
            bottom: 9px;
            width: 20px;
            height: 20px;
            pointer-events: none;
            background: {
                image: url(../../../assets/img/icons/calendar.svg);
                position: center center;
                size: contain;
                repeat: no-repeat;
            }
        }
    }
}

.form-inline{
    input[type="date"] {
        max-width: 170px;
    }
}

.index-filter-reset {
    display: inline-block;
    position: relative;
    top: -1px;
    padding-left: 10px;

    .eso-icon {
        display: inline-block;
    }
}

.order-status-select {
    display: inline-block;
    width: auto;
}