.eso-icon {
    width: 20px;
    height: 20px;

    svg {
        height: 20px;
        width: 20px;
        fill: #71798b;

        g {
            fill: #71798b;
        }
    }

    &.shipping-method-icon {
        width: 15px;
        height: 15px;
        margin-right: .3rem;
        position: relative;
        top: 1px;
        svg {
            width: 15px;
            height: 15px;
        }
    }
}

.icon-edit-interface-sign {
    &:hover, &:focus, &:active {
        path, polygon {
            fill: #ea7f58;
        }
    }
}

.icon-trash {
    &:hover, &:focus, &:active {
        path {
            fill: #ff1a4b;
        }
    }
 }

.icon-eye {
    &:hover, &:focus, &:active {
        path {
            fill: #0098d2;
        }
    }
}

.icon-sort {
    position: relative;

    svg, path {
        fill: #aeb3bc;
    }

    svg {
        width: 14px;
        height: 14px;
    }

    span {
        position: absolute;
        display: inline-block;
    }

    .sort-up {

    }

    .sort-down {
        @include rotate(180);
        left: 10px;
        top: 7px;
    }
}