#adminmenu {
    .dashicons-admin-generic {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/dashboard.svg);
                size: cover;
                position: center center;
            }
        }
    }

    .dashicons-admin-page {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/pages.svg);
                size: cover;
                position: center center;
            }
        }
    }


    .dashicons-admin-post {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/posts.svg);
                size: cover;
                position: center center;
            }
        }
    }


    .dashicons-admin-media {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/media.svg);
                size: cover;
                position: center center;
            }
        }
    }

    .dashicons-admin-appearance {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/appearance.svg);
                size: cover;
                position: center center;
            }
        }
    }

    .dashicons-admin-plugins {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/plugins.svg);
                size: cover;
                position: center center;
            }
        }
    }

    .dashicons-admin-users {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/users.svg);
                size: cover;
                position: center center;
            }
        }
    }

    .dashicons-admin-settings {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/settings.svg);
                size: cover;
                position: center center;
            }
        }
    }

    .dashicons-admin-tools {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/tools.svg);
                size: cover;
                position: center center;
            }
        }
    }


    .dashicons-email, .dashicons-email-alt {
        position: relative;

        &:before {
            content: "";
            position: relative;
            top: 5px;
            background: {
                image: url(../../../assets/img/icons/menu/contact.svg);
                size: cover;
                position: center center;
            }
        }
    }

    .dashicons, .dashicons-before:before {
        width: 20px;
        height: 20px;
    }

    div.wp-menu-image {
        &:before {
            color: rgba(240,245,250,0.8);
        }

        &.svg {
            filter: brightness(1.3);
        }
    }


}