//Used by main scss file with @import "mixins"; at the beginning of the file

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

/*
Linear gradient, use it like:
@include linear-gradient(45deg, rgb(68,133,225) 0%, rgb(58,165,238) 100% );
 */
@mixin linear-gradient($args...) {
    background-image: -o-linear-gradient($args);
    background-image: -moz-linear-gradient($args);
    background-image: -webkit-linear-gradient($args);
    background-image: linear-gradient($args);
}

@mixin primary-gradient() {
    @include linear-gradient(90deg, rgb(68, 133, 225) 0%, rgb(58, 166, 239) 100%);
}

@mixin primary-gradient-hover() {
    @include linear-gradient(45deg, rgb(68, 133, 225) 0%, rgb(58, 165, 238) 100%);
    box-shadow: 0 3px 8px 0 rgba(91,155,230,0.62);
}

@mixin secondary-gradient() {
    @include linear-gradient(45deg, rgb(99, 202, 93) 0%, rgb(121, 217, 115) 100%);
}

@mixin secondary-gradient-hover() {
    @include linear-gradient(90deg, rgb(99, 202, 93) 0%, rgb(121, 217, 115) 100%);
    box-shadow: 0 3px 8px 0 rgba(99,202,93,0.59);
}

@mixin danger-gradient() {
    @include linear-gradient(44deg, #FE3300 0%, #FF4646 95%);
}

@mixin danger-gradient-hover() {
    @include linear-gradient(90deg, #FE3300 0%, #FF4646 100%);
    box-shadow: 0 3px 8px 0 rgba(255,43,43,0.54);
}

//blur
@mixin blur($amount) {
    -webkit-filter: blur($amount);
    -moz-filter: blur($amount);
    -o-filter: blur($amount);
    -ms-filter: blur($amount);
    filter: blur($amount);
}

/*
Box shadow, use it like:
@include box-shadow(0px 10px 20px 0px rgba(0, 0, 0, 0.2));
 */
@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin default-box-shadow() {
    @include box-shadow(0 10px 20px 0 rgba(0, 0, 0, 0.03));
}

/*
Animation mixin, use it with keyframes mixin, like:
@include animation(neonGlow, 5s);
 */
@mixin animation($name, $duration) {
    -webkit-animation: $name $duration infinite; /* Safari 4+ */
    -moz-animation: $name $duration infinite; /* Fx 5+ */
    -o-animation: $name $duration infinite; /* Opera 12+ */
    animation: $name $duration infinite; /* IE 10+, Fx 29+ */
}

/*
keyframes mixin, use it like:
@include keyframes(neonGlow) {
    0% {
        background-color: #ffccf2;
    }
    50% {
        background-color: #ccffcc;
    }
    100% {
        background-color: #ccffff;
    }
}
*/
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}