#wpadminbar {
    ul#wp-admin-bar-root-default {
        float: right;
        width: 100%;

        #wp-admin-bar-status {
            margin-right: 15px;
        }

        #wp-admin-bar-breadcrumb {
            .ab-item {
                padding-left: 10px;
            }

            a {
                display: inline-block;
                padding: 0;
                text-decoration: underline;
            }
        }

        #wp-admin-bar-updates {
            float: right;
        }
    }

    & #wp-toolbar {
        #wp-admin-bar-languages {
            float: right;

            .ab-label {
                color: $text;
            }

            .ab-icon {
                &:before {
                    color: $text;
                }
            }
        }

        #wp-admin-bar-wpseo-menu {
            float: right;

            a {
                text-decoration: none;
            }
        }
    }
}