.page-numbers {
    text-align: center;
    margin-top: 2rem;

    li {
        display: inline-block;
        margin-left: -5px;

        a, span {
            background-color: #fff;
            border: 1px solid #dee2e6;
            display:block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;

            &.current {
               @include primary-gradient-hover;
                border-color: transparent;
                color: #fff;
            }

        }

        &:first-child {
            a, span {
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;

            }

        }

        &:last-child {
            a, span {
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
            }

        }
    }
}

