.quick-look-wrapper {
    position: relative;
    display: none;
}

[data-toggle="quick-look"] {
    position: relative;
    cursor: pointer;
}

.quick-look {
    position: absolute;
    background: white;
    border-radius: 5px;
    min-width: 800px;
    bottom: 40px !important;
    top: auto !important;
    padding: 1rem;
    z-index: 50;
    right: -10px !important;
    @include box-shadow(0 10px 20px 0 rgba(0, 0, 0, 0.12));
    line-height: 2;

    .table {
        line-height: 1.5;
    }

    .eso-icon {
        width: 35px;
        height: 35px;

        svg {
            width: 35px;
            height: 35px;
        }
    }

    &:before {
        content: "";
        position: absolute;
        bottom: -15px !important;
        top: auto !important;
        right: 11px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
        @include rotate(180);
    }
}

.table {
    tbody {
        tr:nth-child(-n+14) {
            .quick-look {
                top: 40px !important;
                bottom: auto !important;

                &:before {
                    top: -15px !important;
                    bottom: auto !important;
                    @include rotate(0);
                }
            }
        }
    }
}

.quick-look-close {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .quick-look-wrapper {
        display: inline-block;
    }
}