.table {
    font-size: .9rem;

    thead {
        th {
            border-bottom: 0;
        }
    }

    tbody {
        box-shadow: 0 9px 12px rgba(0, 0, 0, .02);
    }

    th {
        border-top: 0;
    }

    td {
        vertical-align: middle;
        border-top: 0;

        &:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        img {
            height: 50px;
            width: auto;
        }
    }
}

.dashboard-card {
    .table {
        td {

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

        }
    }
}

.table-striped {
    tbody {
        tr {
            background-color: white;

            &:nth-of-type(odd) {
                background-color: #f2f4f9;
            }

            &:hover {
                background-color: #d8deeb;
            }
        }
    }
}

th {
    .eso-icon {
        display: inline-block;
        margin-left: 8px;
    }
}

.table-actions {
    margin-bottom: 0;

    ul {
        margin-bottom: 0;

    }
    li {
        margin-bottom: 0;
    }
    a, button, form {
        display: inline-block;
        padding: 2px;
    }

    button {
        margin-top: -8px;
    }

    .actions__send-invoice {
        position: relative;
        top: 2px;
        left: 4px;
    }
}



@media only screen and (min-width: 992px) {
    .table {
        tr {
            .quick-look-wrapper {
                opacity: 0;
            }
            &:hover {
                .quick-look-wrapper {
                    opacity: 1;
                }
            }
        }

    }
}
