//Colors
$primary: #4485e1;
$secondary: rgb(99, 202, 93);
$text: #434a5a;
$light: #f2f4f9;
$bg: #eceff6;
$bgSecondary: #d8ddec;

$radius: 5px;
$danger: #f76161;

//Buttons
$btn-border-radius: 100px;
$btn-border-radius-sm: 100px;

//Inputs
$custom-file-text: (
    en: "Browse",
    cs: "Procházet"
) !default;