@import "variables";

@import "bootstrap/bootstrap.scss";

@import "mixins";
@import "mixins";
@import "colors";
@import "buttons";
@import "pagination";
@import "icons";
@import "tables";
@import "forms";
@import "quick-look";
@import "cards";
@import "boxes";
@import "menu";
@import "navbar";
@import "ajax";

body {
    background-color: $bg;
    font-family: "Muli", sans-serif;
    color: $text;
    letter-spacing: .03em;
}

a {
    color: $text;
}

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    border: 1px solid #d4d7dc;
    border-radius: 5px;
    box-shadow: unset;
    background-color: #fff;
    color: #434a5a;
    outline: 0;
    transition: unset;
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
    border: 1px solid #d4d7dc;
    border-radius: 5px;
    box-shadow: unset;
}

img {
    max-width: 100%;
    height: auto;
}

#adminmenu {
    margin-top: 0;

    .wp-has-current-submenu .wp-submenu {
        background: #5eacee;
    }

    .wp-has-current-submenu .wp-submenu .wp-submenu-head, .wp-menu-arrow, .wp-menu-arrow div, li.current a.menu-top, li.wp-has-current-submenu a.wp-has-current-submenu {
        background: #5eacee;
        color: #fff;
    }

    .wp-submenu {
        padding: 0;
        z-index: 9999;
        background-color: #5eacee;
        box-shadow: unset;

        a {
            font-size: 14px;
            color: white !important;

        }

        li {
            font-size: 14px;
            color: white !important;
            //margin-bottom: 8px;
            //margin-top: 8px;
            padding-left: 6px;

            &:hover, &:focus, &:active {
                background-color: rgba(255,255,255,.15);
            }
        }

    }

    li.menu-top:hover {
        background: #5eacee;
        color: white;
    }

    li.wp-has-submenu.wp-not-current-submenu:hover:after {
        content: unset;
    }

    #toplevel_page_eso-dashboard.wp-first-item {
        background: white;
        padding: 17px 0 14px;
        height: 70px;

        a {
            padding: 0 !important;
            background: white;
        }

        .wp-menu-name {
            display: none;
        }

        .wp-menu-image {
            width: 100%;

            img {
                width: 100%;
                height: 32px;
            }
        }
    }
}

.folded {
    #adminmenu {
        li {
            &.wp-has-current-submenu, &.current.menu-top {
                background: #5eacee;
                color: #fff;
            }
        }

        .wp-has-current-submenu {
            .wp-submenu {
                padding: 7px 0 8px;
                z-index: 9999;
                background-color: #5eacee;
                box-shadow: unset;
            }
        }

        a.wp-has-current-submenu:focus + .wp-submenu {
            padding: 7px 0 8px;
            z-index: 9999;
            background-color: #5eacee;
            box-shadow: unset;
        }
    }

}

#adminmenuwrap {
    transition: .3s all;
}

.post-type-esoul_order {
    #post-body-content {
        display: none;
    }

    #postbox-container-1 {
        display: none;
    }
}

.post-type-esoul_product.post-php {

    #titlediv #title {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        cursor: auto;
    }
}

.whitebox {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
    padding: 15px;
}

.whitebox, .related-product-info {
    & > .eso-remove {
        top: 12px;
        right: 27px;
    }
}

.postbox {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);

    .handlediv {
        display: none !important;
    }
}

#poststuff {
    .postbox-esoul {
        background: transparent;
        box-shadow: none;
        border: 0;

        .handlediv, .hndle {
            display: none !important;
        }

        .inside {
            padding: 0;
        }
    }

    h2 {
        padding-left: 0;
    }
}

.tab-content {
    display: block;
}

#wpcontent {
    padding: 40px 15px 0 15px;
    transition: .3s all;
}

/**************************Admin menu head*****************************/

#admin-menu-head {

    height: 70px;
    position: fixed;
    z-index: 999;
    width: 100%;

    .head-left {
        float: left;
        display: inline-block;
        width: 170px;
        background: white;
        height: 70px;
        padding: 20px 0;

        img {
            max-width: 100px;
            height: 30px;
            margin: 0 auto;
            display: block;
        }
    }

    .head-right {
        width: auto;
        display: inline-block;
        background: #eceff6;
        float: left;
        height: 70px;
        padding: 20px 0;
    }
}

.folded #adminmenu, .folded #adminmenu li.menu-top, .folded #adminmenuback, .folded #adminmenuwrap {
    width: 65px;
}

.bs-tooltip-bottom {
    margin-top: 10px;

    .arrow {
        margin-left: 1px;
    }
}

.center-vh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vh:nth-child(2n+1) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#customer-detail {

    p {
        font-size: 12px;
        padding: 0;
        margin: 0;
        font-weight: normal;

        strong {
            font-size: 14px;
            font-weight: bold;
        }
    }

    input {
        width: 100%;
    }

    select {
        width: 100%;
    }

    .profile-icon {
        svg {
            width: 40px;
            height: 40px;
            fill: #71798b;
        }
    }
}

#order-history {
    margin-top: 60px;

    h2 {
        font-size: 24px;
        font-weight: bold;
    }
}



.add-shipping-method {
    margin-top: 1rem;
    width: 100%;
    text-align: left;
}

.dashboard-card {
    margin-bottom: 2rem;

    .table {
        font-size: .8rem;
        padding-bottom: 25px;
        margin-bottom: 0;

        td {
            border-top: 0;

            a {
                text-decoration: underline;
            }
        }
        tbody {
            tr {
                background-color: #eceff6;
                @include box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.06));
            }
        }

        &.table-striped tbody tr:nth-of-type(odd) {
            background: white;
        }
    }
}

#eso-debug-log {
    z-index: 9999;

    .modal-dialog {
        max-width: 90%;
    }

    .log {
        background-color: #23282d;
        color: #ddd;
        overflow-y: scroll;
        line-height: 14px;
        font-size: 12px;
        padding: 4px;
    }
}

.filter-container {
    .form-group {
        padding: 20px;

        label {
            padding: 5px;
        }
    }

}

.customer-pos {
    display: inline-block;
}

.customer-all {
    a {
        color: blue;
        font-weight: bold;
        text-decoration: underline;
        font-size: 14px;
        padding-left: 10px;
    }
}

.eso-settings-nav-wrap {
    margin-top: -60px;
}

.input-group-prepend {
    .eso-icon svg {
        margin-top: -7px;
    }
}

.single-actions {
    list-style-type: none;

    li {
        margin-right: 15px;
        text-align: center;
        vertical-align: top;
    }

    .eso-icon {
        svg {
            width: 35px;
            height: 35px;
        }
        width: 35px;
        height: 35px;
        text-align: center;
    }

    .btn, a {
        .eso-icon {
            display: block;
            margin: 0 auto;
        }
    }

    .btn-text, a {
        font-size: .9rem;
    }

    .btn-text {
        padding: 0;
    }

    .actions__send-invoice {
        .icon-right-arrow {
            margin-bottom: 2px;
            path {
                fill: #3b92e0;
            }
        }
    }

    .actions__generate-invoice {
        .icon-pdf {
            path, polygon {
                fill: #e74d54;
            }
        }
    }
}

.actions {
    margin-bottom: 0;

    li {
        display: inline-block;
        margin-bottom: 0;

    }
    &__send-invoice {
        .btn {
            transition: 0s all;
        }
        &:hover {
            .btn {
                color: #3b92e0;
            }

            .icon-right-arrow {
                path {
                    fill: #3b92e0;
                }
            }
        }
    }

    &__generate-invoice {
        &:hover {
            a {
                color: #e74d54;
                text-decoration: none;
            }

            .icon-pdf {
                path, polygon {
                    fill: #e74d54;
                }
            }
        }

    }
}

.log-wrap {
    max-height: 400px;
    overflow: auto;
}

//https://stackoverflow.com/a/29341777/5300587
.border-between > [class*='col-']:before {
    background: #d1d1d1;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}

@media only screen and (max-width: 960px) and (min-width: 782px) {
    #adminmenu {
        #toplevel_page_eso-dashboard.wp-first-item {
            .wp-menu-image {
                //width: 100%;
                height: 50px;
                width: 33px;
                overflow: hidden;

                img {
                    position: relative;
                    left: -7px;
                    top: -14px;
                    max-width: 80px;
                    width: 80px;
                    height: 92px;
                }
            }
        }
    }
}