@import "variables";
@import "mixins";

.eso-module-category {
    margin: 2rem 0 0;
}

.eso-remove {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    -webkit-mask: url(../../../assets/img/icons/minus.svg) no-repeat 100% 100%;
    mask: url(../../../assets/img/icons/minus.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background: {
        color: red;
        size: contain;
        repeat: no-repeat;
    }

    &--outter {
        //position: static;
        //display: inline-block;
        //float: left;
    }
}

.image-preview-wrap {
    position: relative;
    width: 120px;
    //display: inline-block;
}

.eso-product-image {
    width: 120px;
    display: inline-block;
    position: relative;
    margin: 5px;

    &--main {
        width: 100%;
    }
}

.eso-pills {
    background: white;
    border-radius: $radius;
    display: inline-block;
    padding: 0 15px;

    a, span {
        display: inline-block;
        padding: 10px 15px;
        border-radius: $radius;
        margin: 0;
        cursor: pointer;
        font-weight: 600;
        margin-right: 1px;

        &:hover, &:focus, &:active {
            text-decoration: none;
        }

        &.active {
            @include primary-gradient;

            color: white;
        }
    }
}

.eso-pills-lg {
    padding: 15px;

    a {
        background-color: $light;
    }
}

.graph-nav {
    font-size: .8rem;
    padding: 0;
    margin-bottom: 1rem;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;

    span {
        background: $light;
    }
}

.eso-icon-color{
    float: left;
    margin-right: 5px;
    svg{
        height: 17px;
        width: 17px;
        fill: white;
        float:left;
        top: 1px;
        position: relative;
    }
}

#wpadminbar, body {
    .status-label {
        font-weight: bold;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 11px;
            right: 50px;
            width: 15px;
            height: 15px;
            display: inline-block;
            background: {
                size: contain;
                repeat: no-repeat;
                image: none;
            }
        }

        &.text-success {
            &:before {
                background: {
                    image: url(../../../assets/img/icons/check-success.svg);
                }
            }
        }

        &.text-danger {
            &:before {
                background: {
                    image: none;
                }
            }
        }

        &.text-warning {
            &:before {
                background: {
                    image: none;
                }
            }
        }
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
    margin: .2rem .3rem .3rem 0;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked + .slider {
    background-color: $secondary;
}

input:focus + .slider {
    box-shadow: 0 0 1px $secondary;
}


input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.editable-tag {
    display: inline-block;
    margin: 5px 5px 5px 0;
    .remove-tag {
        font-size: 1rem;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1200px) {
    .eso-pills {
        &.eso-pills-wide {
            text-align: center;
            a {
                min-width: 150px;
            }
        }
    }

}