@import "mixins";
@import "variables";

body {
    background: #eceff6;
    font-family: "Muli", sans-serif;

    &.login {
        form {
            padding-left: 66px;
            padding-right: 35px;
            font-weight: bold;
            font-size: 14px;
            color: #434a5a;
        }

        label {
            width: 100%;
            display: block;
            clear: both;
            font-size: 14px !important;
        }

        #login {
            h1 a {
                background: url(../../../assets/img/logo.svg);
                width: 170px;
                background-size: cover;
                height: 50px;
            }

            form#loginform p {
                margin-bottom: 0;
                width: 100%;
            }

            p#nav {
                text-align: center;

                a {
                    color: #434a5a;

                    &:hover {
                        font-weight: 900;
                    }
                }
            }

            p#backtoblog {
                text-align: center;

                a {
                    color: #434a5a;
                    text-decoration: underline;
                }
            }

            form#loginform {
                p {
                    &:nth-of-type(1){
                        position:relative;

                        &:before{
                            content: "";
                            display: block;
                            background: url(../../../assets/img/icons/email-color.svg);
                            width: 24px;
                            height: 24px;
                            background-size: cover;
                            background-position: center center;
                            position: absolute;
                            margin-left: -40px;
                            top: 37px;
                        }
                    }

                    &:nth-of-type(2){
                        position:relative;

                        &:before{
                            content: "";
                            display: block;
                            background: url(../../../assets/img/icons/unlocked-color.svg);
                            width: 24px;
                            height: 26px;
                            background-size: cover;
                            background-position: center center;
                            position: absolute;
                            margin-left: -40px;
                            top: 37px;
                        }
                    }
                }
            }

            form#lostpasswordform p:nth-of-type(1):before{
                content: "";
                display: block;
                background: url(../../../assets/img/icons/email-color.svg);
                width: 24px;
                height: 24px;
                background-size: cover;
                background-position: center center;
                position: absolute;
                margin-left: -40px;
                top: 37px;
            }

            form#lostpasswordform p:nth-of-type(1){
                position:relative;
            }

            form#registerform p:nth-of-type(2):before{
                content: "";
                display: block;
                background: url(../../../assets/img/icons/email-color.svg);
                width: 24px;
                height: 24px;
                background-size: cover;
                background-position: center center;
                position: absolute;
                margin-left: -40px;
                top: 37px;
            }

            form#registerform p:nth-of-type(2){
                position:relative;
            }

            form#registerform p:nth-of-type(1){
                position:relative;
            }

            form#registerform p:nth-of-type(1):before{
                content: "";
                display: block;
                background: url(../../../assets/img/icons/user2-color.svg);
                width: 24px;
                height: 24px;
                background-size: cover;
                background-position: center center;
                position: absolute;
                margin-left: -40px;
                top: 37px;
            }

        }

        form .forgetmenot label {
            font-weight: 600;
            text-align: center;
            display: block;
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
}

#login {
    width: 300px;

    .button {
        border-radius: 200px;
        background: transparent;
        text-shadow: none;
        color: $primary;
        border: 1px solid $primary;
        box-shadow: none;
    }
    .button-primary {
        @include linear-gradient(45deg, rgb(68,133,225) 0%, rgb(58,165,238) 100% );

        color: white;
        font-size: 14px;
        float: unset;
        margin: 0 auto;
        display: block;
        border: unset;
        min-width: 140px;
        height: 40px;

        &:hover{
            background: #3aa5ee;
        }
    }
}

input[type="text"], input[type="email"], input[type="password"], input[type="checkbox"]{
    background: white !important;
    border: 1px solid #d4d7dc !important;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"]{
    margin-top: 10px !important;
    min-height: 40px;
    font-size: 14px !important;
    padding-left: 10px !important;
}

#login-social-site{
	margin-top: 20px;

    p {
        text-align: center;

        &:before{
            content: unset !important;
        }
    }
}

#wp-submit:before{
	content: "test";
}
