body.post-new-php #post-body-content{display:none}.col-form-label,.eso-label{font-weight:bold;letter-spacing:0}.eso-label-text{display:block;margin-bottom:5px}.product-price-preview{display:block;padding:.5rem}*[data-toggle="add-related-product"]{cursor:pointer}.available-related-products .whitebox{max-height:350px;overflow:auto}#product-symbol-image img{max-width:60px;display:block;margin-bottom:1rem}

/*# sourceMappingURL=product.css.map */
