.processing {
    transition: .2s all;
    opacity: .4;
    pointer-events: none;
}

.empty-cart-message {
    visibility: hidden;
    opacity: 0;
    transition: .2s all;
    height: 0;

    &.active {
        height: auto;
        visibility: visible;
        opacity: 1;
    }
}

.form-control {
    &--digit {
        max-width: 4.5em;
    }
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #cce5ff;
}