@import "mixins";

.eso-icon {
    width: 20px;
    height: 20px;
    display: block;
    svg {
        height: 20px;
        width: 20px;
        fill: #71798b;
    }
}

.dashboard-card {
    margin-bottom: 4rem;
}

.frontend-dashboard__logo {
    height: 30px;
    width: auto;
    margin-bottom: 15px;
}

#show-frontend-dashboard {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: auto;
    padding: .5rem .8rem;
    cursor: pointer;
    @include esoul-primary-gradient;
    border: unset;
    color: white;

    &:hover {
        @include esoul-primary-gradient-hover;
        color: white;
    }
}

#eso-frontend-dashboard {
    font-family: "Muli", sans-serif;
    position: fixed;
    z-index: -1;
    background-color: #eceff6;
    opacity: 0;
    transition: .3s opacity;
    right: 15px;
    bottom: 55px;
    max-height: 90vh;
    max-width: calc(100% - 30px);
    width: 1580px;  /*  1380 before change*/

    &.active {
        z-index: 999;
        opacity: 1;
        overflow: auto;
        padding: 15px 0;
        border-radius: 5px;

        @include box-shadow(0px 10px 20px 0px rgba(0, 0, 0, 0.2));
    }

    font-size: .8rem;

    h2 {
        font-size: 1.2rem;
        margin-top: 8px;
        font-weight: bold;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: white;

        td {
            background-color: white;
        }
    }

    .table {
        height: 240px;
        overflow: auto;

        thead {
            display: none;
        }

        tr {
            &:first-child {
                td {
                    border-top: 0;
                }
            }
        }

        td, th {
            vertical-align: middle;
            border-top: 0;

            &:first-child {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            &:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }

    }



    .dashboard-card {
        margin-bottom: 0;
    }

    #overview-graph {
       height: 300px;
    }

    .overview-graph-small {
        height: 200px;
    }

    .overview-trigger {
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        background: #f2f4f9;
        margin-right: 1px;
        display: inline-block;

        &.active {
            color: white;
            @include esoul-primary-gradient;
        }

        &[data-target="this-year"], &[data-target="last-year"] {
            display: none;
        }
    }

    .nav {
        flex-wrap: nowrap;
        overflow: auto;
        white-space:nowrap;
        margin-bottom: 10px;
    }

    .btn {
        @include esoul-primary-gradient;
        border: unset;
        color: white;

        &:hover {
            @include esoul-primary-gradient-hover;
            color: white;
        }
    }

    .whitebox {
        border-radius: 6px;
        background: white;
        padding: 10px;
    }

    //.button-new {
    //    border-radius: 200px  !important;
    //    background: transparent !important;
    //    text-shadow: none  !important;
    //    color: #4485e1  !important;
    //    position: relative  !important;
    //    transition: .3s all  !important;
    //    height: auto  !important;
    //    padding: 6px 15px  !important;
    //    border: 1px solid #4485e1  !important;
    //    box-shadow: none  !important;
    //}
    //
    //.button-new:hover {
    //    background-image: linear-gradient(90deg, #4485e1 0%, #3aa6ef 100%) !important;
    //    cursor: pointer;
    //    color: white !important;
    //}
}