@import "utilities";

#checkout-summary {
    .summary-shipping_first_name, .summary-shipping_last_name {
        display: inline-block;
    }
}

.new-button {
    border-radius: 200px;
    background: transparent;
    text-shadow: none;
    color: #4485e1;
    position: relative;
    transition: .3s all;
    height: auto;
    padding: 6px 15px;
    border: 1px solid #4485e1;
    box-shadow: none;
}

.ajax-result {
    &--silent {
        .spinner-border {
            display: none;
        }
    }
}