.processing{transition:.2s all;opacity:.4;pointer-events:none}.empty-cart-message{visibility:hidden;opacity:0;transition:.2s all;height:0}.empty-cart-message.active{height:auto;visibility:visible;opacity:1}.form-control--digit{max-width:4.5em}.table-striped>tbody>tr:nth-child(2n+1)>td,.table-striped>tbody>tr:nth-child(2n+1)>th{background-color:#cce5ff}#checkout-summary .summary-shipping_first_name,#checkout-summary .summary-shipping_last_name{display:inline-block}.new-button{border-radius:200px;background:transparent;text-shadow:none;color:#4485e1;position:relative;transition:.3s all;height:auto;padding:6px 15px;border:1px solid #4485e1;box-shadow:none}.ajax-result--silent .spinner-border{display:none}

/*# sourceMappingURL=main.css.map */
