@import "../mixins";
@import "../variables";


table {
    &.widefat {
        th {
            &[class*=column-language_] {
                width: 41px;
            }
        }
    }
}

.pll_icon_add {
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}