@import "../mixins";
@import "../variables";

html {
    &.wp-toolbar {
        padding-top: 0;
    }
}

*:focus {
    outline: none !important;
    box-shadow: unset;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 600;
}

h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 24px;
    margin-bottom: .5em;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 14px;
}

h5, .h5 {
    font-size: 12px;
}

h6, .h6 {
    font-size: 12px;
}

#wpbody {
    padding-top: 40px;
}

.container {
    &.container--left {
        margin-left: 0;
    }
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img {
    box-shadow: unset;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
    content: unset !important;
}

#adminmenuback {
    @include primary-gradient;
}

#adminmenuwrap {
    background: transparent;
}

#adminmenu {
    background: transparent;

    .wp-submenu {
        //padding-left: 5px !important;

        a {
            padding: 12px 7px !important;
        }
    }

    .wp-has-current-submenu, .wp-has-current-submenu.opensub {
        .wp-submenu, .wp-submenu.sub-open {
            background: #3b8cd9;
        }

        &.opensub {
            .wp-submenu {
                background: transparent;
            }
        }
    }

    a {
        &:hover {
            color: white;
        }

        &.wp-has-current-submenu:focus + .wp-submenu {
            background: #5eacee;
        }
    }

    li {
        a {
            &:focus {
                div.wp-menu-image:before {
                    color: rgba(240, 245, 250, .6);
                }
            }

            &.menu-top {
                &:focus {
                    background: rgba(255, 255, 255, .1);
                    color: white;
                }
            }
        }

        &.menu-top {
            &:hover {
                background: rgba(255, 255, 255, .1);
                color: white;
            }
        }

        &:hover {
            .wp-menu-image:before {
                color: white;
            }
        }

        &.opensub {
            & > a {
                &.menu-top {
                    background: transparent;
                    color: white;
                }
            }

            div.wp-menu-image:before {
                color: rgba(240, 245, 250, .6);
            }
        }

        &.wp-menu-separator {
            display: none;
        }

        &:hover {
            div.wp-menu-image:before {
                color: rgba(240, 245, 250, .6);
            }
        }
    }

    div.wp-menu-name {
        padding: 6px 0;
    }

    a {
        padding: 6px 7px !important;
        font-weight: 600;
    }



    #adminmenu .dashicons-before {
        margin-right: 7px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.wp-menu-image {
        margin-top: -2px;
        margin-right: 3px;

        img {
            width: 25px;
            height: 24px;
            opacity: 1;
            padding: 0;
        }
    }

    [id^=toplevel_page_eso-] {
        .wp-menu-image {
            margin-top: 3px;
        }
    }
}


#poststuff {
    h2 {
        font-size: 24px;
    }
}

#menu-posts-esoul_product, #menu-posts-esoul_order {
    display: none;
}

#toplevel_page_eso-orders {
    ul {
        li:nth-child(3) {
            display: none;
        }
    }
}

#toplevel_page_eso-customers {
    ul {
        li:nth-child(4) {
            display: none;
        }
    }
}

.wp-admin {
    select {
        height: calc(1.5em + .75rem + 2px);
    }
}

#wp-admin-bar-my-account {
    li:hover {
        .ab-item {
            background: transparent;
        }
    }

    a {
        &.ab-item {
            color: black;
        }
    }
}

#collapse-button {
    .collapse-button-label {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    #collapse-button {
        display: none;
    }
}

#wpcontent {
    padding-top: 32px
}

.subsubsub {
    margin-top: 12px;
}

.wp-admin {
    &.edit-php {
        .page-title-action {
            opacity:0
        }
    }
}

.wrap {
    position: relative;
    //Hidden in 2019.7.4
    //margin-top : 40px;

    h1 {
        font-weight: 600;
    }

    h1.wp-heading-inline {
        display: none;
    }

    .page-title-action {
        border-radius: $btn-border-radius;
        color: white;
        border: 0;
        @include secondary-gradient;
        text-align: center;
        vertical-align: middle;
        padding: .375rem 1.7rem .375rem 2.6rem; /* 1.25rem*/
        font-size: 1rem;
        line-height: 1.5;
        display: inline-block;
        margin-bottom: 10px;

        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: 18px;
            top: 20%;

            background: {
                image: url(../../../../assets/img/icons/add-button-inside-white-circle.svg);
                size: contain;
                repeat: no-repeat;
                position: 0 10%;
            }
        }

        &:hover {
            @include secondary-gradient-hover;
            border: 0;
            color: white;
        }

        &:focus, &:active {
            padding: .375rem 1.7rem .375rem 2.6rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: $btn-border-radius;
            @include secondary-gradient-hover;
            border: 0;
            color: white;
        }
    }
}

table {
    &.widefat {
        border: 0 !important;
        td {

            .eso-icon {
                &:hover svg {
                    fill: #ed8151;
                }
            }

        }

        thead td, thead th {
            border-bottom: unset;
        }

        th {
            &[class*=column-language_] {
                width: 41px;
            }
        }


    }

    thead {
        background: transparent;
    }

    tbody {
        tr {
            &:hover {
                background-color: #d8ddec !important;
            }
        }
    }

}

.components-button:disabled, .components-button[aria-disabled=true] {
    opacity: .55;

    &.is-primary {
        color: white;
    }
}

/* tables at the wp-generated pages */

.tablenav.top {
    background: white;
    padding: 1rem;
    border-radius: 6px;
    margin: 1.4rem 0 1.4rem;
    min-height: 75px;

    .actions {
        overflow: visible;
    }
}

table {
    background: transparent !important;
    &.wp-list-table {
        thead {
            th {
                border-bottom: 0;
                font-weight: bold;
            }
        }

        tbody {
            box-shadow: 0 9px 12px rgba(0, 0, 0, .02);

            td, th {
                //removed 2020.2.5
                //vertical-align: middle;
                border-top: 0;

                &:first-child {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }

                &:last-child {
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }

        th {
            border-top: 0;
        }

        tfoot {
            display: none;
        }

        & + .tablenav {
            display: none;
        }
    }

    &.striped {
        tbody {
            tr {
                background-color: white;

                &:nth-of-type(odd) {
                    background-color: #f2f4f9;
                }

                &:hover {
                    background-color: #d8deeb;
                }
            }
        }
    }
}

.alternate, .striped > tbody > :nth-child(odd), ul.striped > :nth-child(odd) {
    background-color: #f2f4f9;
}

#wpfooter, .post-php .page-title-action, #edit-slug-box {
    display: none;
}

.eso-tabs-wrapper {
    li {
        display: inline-block;
    }
}

.wp-core-ui {
    .button {
        border-radius: 200px;
        background: transparent;
        text-shadow: none;
        color: $primary;
        position: relative;
        transition: .3s all;
        height: auto;
        padding: 6px 15px;
        border: 1px solid $primary;
        box-shadow: none;

        &:active {
            top: 3px;
        }

        &:hover, &:focus, &:active {
            @include primary-gradient-hover;
            color: white;
            border-color: #4485E1;
            box-shadow: 2px 4px 15px 0 rgba(74, 144, 226, 0.34);
        }
    }

    .button-primary {
        @include primary-gradient;
        color: white;
        border: 0;
        min-width: 120px;
        border-radius: 200px;

        &:hover, &:focus, &:active {
            @include primary-gradient-hover;
            box-shadow: 2px 4px 15px 0 rgba(74, 144, 226, 0.34);
        }

    }

    .button-secondary {
        @include secondary-gradient;
        border-radius: $btn-border-radius;
        color: white;
        border: 0;

        &:hover, &:focus, &:active {
            @include secondary-gradient-hover;
            color: white;
        }

    }

    select {
        border-color: #d4d7dc;
    }
}

select.form-control {
    &[readonly] {
        -webkit-appearance: none;
        -moz-appearance: none;
        pointer-events: none;
        background-color: transparent;
        border: solid transparent;
        box-shadow: none;
        cursor: auto;
        margin-top: 0;
        padding-top: 0;

        &::-ms-expand {
            display: none;
        }

        &:focus, &:active, &:hover {
            border: solid transparent;
        }
    }
}

.search-box input[name="s"] {
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 1.6rem;
}

input {
    &[type="number"], &[type="text"], &[type="url"], &[type="email"], &[type="search"] {
        padding: .375rem .75rem;
        line-height: 1;
        height: calc(1.5em + .75rem + 2px);
    }

    &[type="text"], &[type="url"], &[type="email"], &.has-pencil {
        background: {
            image: url(../../../../assets/img/icons/input-pencil.svg);
            size: 17px;
            repeat: no-repeat;
            position: calc(100% - 10px) center;
        }
        min-width: 80px;
        padding-right: 30px;
    }

    &[readonly], &.no-pencil {
        background-image: none;
        pointer-events: none;

        &.form-control-plaintext {
            background-color: transparent;
            border: solid transparent;
            box-shadow: none;
            cursor: auto;

            &:focus, &:active, &:hover {
                border: solid transparent;
            }
        }
    }

}

.input-group-text {
    background-color: transparent;
}

#screen-options-wrap, #screen-meta-links, #screen-meta {
    display: none !important;
}

.m-default {
    margin: 30px !important
}

.mt-default {
    margin-top: 30px !important;
}

.mb-default {
    margin-bottom: 30px !important;
}

.form-group {
    position: relative;
}

.notice {
    border-radius: $radius;
    @include box-shadow(0 10px 20px 0px rgba(0, 0, 0, 0.03));
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: none;

    &:before {
        content: "";
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: $primary;
        display: inline-block;
        margin-right: 5px;
    }

    &.notice-info {

        &:before {
            background: #00a0d2;
        }
    }

    &.notice-success {
        &:before {
            background: #46b450;
        }
    }

    &.notice-warning {
        &:before {
            background: #ffb900;
        }
    }

    &.notice-error {
        &:before {
            background: #dc3232;
        }
    }

    a {
        color: #4485e1;
    }

    p {
        display: inline-block;
    }
}

.notice-dismiss {
    top: 2px;
}

div.updated {
    border-left: 0;
}

legend {
    font-size: 1rem;
}

//wpadminbar customize
#wp-admin-bar-wp-logo {

}

#wpadminbar {
    background: $bg;
    border-bottom: 1px solid #d4d7dc;

    .quicklinks {

        ul {
            text-align: right;
        }

        li {
            .ab-empty-item {
                color: $text;
                padding: 0;
            }

            &:hover {
                .ab-empty-item {
                    color: $text !important;
                }
            }
        }

        &:not(.mobile) {
            .ab-top-menu {
                & > li:hover {
                    & > .ab-item {
                        background: transparent;
                    }
                }
            }
        }

        a.ab-item {
            color: $text;
            text-decoration: underline;
            display: inline-block;
            background: transparent !important;

            .eso-icon {
                height: 20px;
                width: 20px;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                top: -3px;

                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        #wp-admin-bar-menu-toggle {
            a.ab-item {
                .ab-icon {
                    &:before {
                        color: $primary;
                    }
                }
            }
        }

        .menupop {

            .ab-sub-wrapper {
                background: $bgSecondary;

                ul {
                    text-align: left;
                    li {
                        a.ab-item {
                            color: $text;
                            min-width: auto;
                            margin-right: 0;

                        }
                    }
                }
            }
        }

        .currency-switcher-list {
            background: white;
            border-radius: 6px;
            width: 50px;
            min-width: 2em;

            li {
                display: block;
                float: none;
                text-align: center;

                a {
                    font-size: 15px;
                    padding: 5px;
                }

            }
        }
    }

    & > #wp-toolbar {
        #wp-admin-bar-updates {
            .ab-label {
                color: orange;
                font-weight: bold;
                margin-left: 3px;
                text-decoration: underline
            }

            .ab-icon {
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    opacity: .4;
                    background: {
                        image: url(../../../../assets/img/icons/refresh.svg);
                        size: contain;
                        repeat: no-repeat;
                        position: center 87%;
                    }
                }

            }
        }
    }

    .shortlink-input {
        background: $bgSecondary;
    }
}

#wp-admin-bar-root-default {

}

#wp-admin-bar-visit-store {
    a.ab-item {
        display: inline-block;
        margin-right: 15px;
    }
}

.modal {
    z-index: 100000;
}

.modal-backdrop {
    &.show {
        opacity: 0;
    }
}

#collapse-button {
    .collapse-button-icon:after, #collapse-button .collapse-button-label {
        opacity: 1;
        color: white;
        margin-left: 12px;
        padding-top: 1px;
    }

    .collapse-button-icon:after {
        content: "";
        background-size: cover;
        background: url(../../../../assets/img/icons/play-button-left-white.svg) center center;
        height: 25px;
        width: 25px;
    }
}

body.block-editor-page {
    font-size: 14px;

    ul {
        margin-bottom: 0;
    }

    button, a {
        &.components-button {
            border-radius: 250px;
            border: unset !important;
            text-shadow: none;
            box-shadow: none;
            transition: .3s all;

            &.is-default {
                &:hover {
                    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
                }
            }

            &.is-primary {
                @include primary-gradient;

                &:hover {
                    @include primary-gradient-hover;
                }
            }

        }
    }

}

.wp-filter {
    .search-form {
        margin: 10px 0 0 0;

        label {
            margin-bottom: 0;
        }
    }
}


@media only screen and (max-width: 960px) {
    .auto-fold #adminmenu, .auto-fold #adminmenu li.menu-top, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
        //width: 48px;
    }


    .auto-fold #adminmenu a.menu-top {
        height: 40px;
    }

    .auto-fold #adminmenu .opensub .wp-submenu, .auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, .auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu, .auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .auto-fold #adminmenu .wp-submenu.sub-open, .auto-fold #adminmenu a.menu-top:focus+.wp-submenu {
        //left: 48px;
    }

    #adminmenu {

        a {
            padding: 6px 1px !important;
        }

        .wp-has-current-submenu, .wp-has-current-submenu.opensub {
            &.opensub {
                .wp-submenu {
                    background: #5eacee;
                }
            }
        }
    }

    #collapse-button .collapse-button-icon:after, #collapse-button #collapse-button .collapse-button-label {
        margin-left: 6px;
    }

}

@media only screen and (max-width: 782px) {
    .auto-fold #adminmenu, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
        margin-top: 23px;
    }

    #adminmenuwrap {
        #adminmenu {
            #toplevel_page_eso-dashboard.wp-first-item {
                padding: 13px 0 9px;
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    .auto-fold #adminmenu, .auto-fold #adminmenuback, .auto-fold #adminmenuwrap {
        margin-top: 0;
    }
}

@media only screen and (min-width: 783px) {
    #wp-admin-bar-root-default {
        //float: right;
        //display: none;
    }
}

@media only screen and (min-width: 960px) {
    #wpadminbar {
        display: block;
        position: fixed;

        height: 50px;
        top: 0;
        left: 160px;
        width: calc(100% - 160px);
        padding: 10px 15px;
    }

    .block-editor-page {
        #wpadminbar {
            padding-top: 3px;
            height: 38px;
        }
    }

}



