@import "../variables";
@import "../mixins";

@import "../bootstrap/mixins";
@import "../bootstrap/functions";
@import "../bootstrap/variables";

/**
 * Tagator jQuery Plugin
 * A plugin to make input elements, tag holders
 * version 1.0, Jan 13th, 2014
 * by Ingi á Steinamørk
 */

/* reset */
.tagator_element * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
}

/* dimmer */
#tagator_dimmer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
}

/* Main box */
.tagator_element {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
}
.tagator_element.options-visible {
    position: relative;
    z-index: 101;
    padding: 1rem;
}

/* placeholder */
.tagator_placeholder {
    position: absolute;
    color: #999;
    left: 4px;
    top: 4px;
}

/* chosen items holder */
.tagator_tags {
    display: inline;
}

/* chosen item */
.tagator_tag {
    display: inline-block;
    @include primary-gradient;
    border-radius: $border-radius;
    color: #fff;
    padding: 2px 20px 2px 4px;
    margin: 0 2px 2px 0;
    position: relative;
    vertical-align: top;
    font-size: $font-size-sm;
}

/* chosen item remove button */
.tagator_tag_remove {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    margin: 2px 0 0 5px;
    padding: 6px 5px 4px 5px;
    cursor: pointer;
    line-height: 10px;
    vertical-align: top;
    border-radius: 0 2px 2px 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.tagator_tag_remove:hover {
    color: $danger;
}

/* input box */
.tagator_input,
.tagator_textlength {
    border: 0;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 1;
}

/* options holder */
.tagator_options {
    margin: 0;
    padding: 0;
    border-radius: 0 0 3px 3px;
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 101;
    background-color: #fff;
    overflow: auto;
    max-height: 250px;
    list-style: none;
    left: -1px;
    right: -1px;
    border: 1px solid #d4d7dc;
}

.tagator_element.options-hidden .tagator_options {
    display: none;
}

/* result item */
.tagator_option {
    cursor: pointer;
    color: #000;
    border-radius: $border-radius;
    padding: .3rem 1rem;
    margin-bottom: 0;
}
.tagator_option.active {
    background-color: $primary;
    color: #fff;
}